<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Databricks Projects</title>
  </head>
  <body>
    <h1>Homepage</h1>
    <h2>iris-Flower Classification</h2>
    <form action="/" method="post">
      <label for="sepal_length">sepal_length</label>
      <input type="number" name="sepal_length" step="any" /><br />
      <label for="sepal_width">sepal_width</label>
      <input type="number" name="sepal_width" step="any" /><br />
      <label for="petal_length">petal_length</label>
      <input type="number" name="petal_length" step="any" /><br />
      <label for="petal_width">petal_width</label>
      <input type="number" name="petal_width" step="any" /><br />
      <button type="submit">Submit Data</button>
    </form>
    {% if message %}
    <strong><p>Type of Flower : {{message}}</p></strong><br />
    {% endif %}
  </body>
</html>
